<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="logFolder" value="${basedir}/logs/" />
  <variable name="debugLogFolder" value="${logFolder}/debug/" />
  <variable name="dateTime" value="${shortdate} - ${time}" />
  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target name="Console" xsi:type="Console" layout="${dateTime} | ${uppercase:${level}} | ${message}" />
    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

    <!--
    Write events to a file with the date in the filename.
    -->
    <target xsi:type="File" name="logFile" fileName="${logFolder}/${shortdate}.log"
            layout="${dateTime} | ${uppercase:${level}} | ${callsite} | ${message}"
            archiveFileName="${logFolder}/${shortdate}.log"
            maxArchiveFiles="7"
            archiveEvery="Day"
            />
    <target xsi:type="DebugFile" name="logFile" fileName="${debugLogFolder}/${shortdate}.log"
            layout="${dateTime} | ${uppercase:${level}} | ${callsite} | ${message}"
            archiveFileName="${debugLogFolder}/${shortdate}.log"
            maxArchiveFiles="30"
            archiveEvery="Day"
            />
  </targets>

  <rules>
    <!-- add your logging rules here -->

    <!--
    minlevel="" (Debug, Info, Warn, Error, Fatal, Trace)
        <logger name="*" minlevel="Trace" writeTo="Console" />
        <logger name="*" minlevel="Debug" writeTo="logFile" />
    -->
    <logger name="*" minlevel="Warn" writeTo="Console, logFile" />
    <logger name="*" minlevel="Debug" writeTo="DebugFile" />
  </rules>
</nlog>